doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Admin Dashboard
  link(rel='stylesheet' href='css/admindash.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css' integrity='sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==' crossorigin='anonymous' referrerpolicy='no-referrer')
header.header
  h1 Karibu Groceries Limited
  input.search-bar(type='text' placeholder='Search...')
.dashboard
  aside.sidebar
    h2 Admin Panel
    ul#sidebar
      li
        i.fa-solid.fa-table-columns.icon
        a(data-feature='dashboard') Dashboard
      li
        i.fa-solid.fa-users
        a(data-feature='users') Users
      li
        i.fa-solid.fa-wheat-awn-circle-exclamation.icon
        a(href='purchases.html') Purchase
      li
        i.fa-solid.fa-cart-shopping.icon
        a(href='sales.html') Sales
      li
        i.fa-solid.fa-scale-balanced.icon
        a(href='credit.html') Credit Sales
      li
        i.fa-solid.fa-gear.icon
        a(data-feature='settings') Settings
      li
        i.fa-solid.fa-arrow-right-from-bracket.icon
        a(data-feature='logout') Logout
  main#content.main-content
    header.header
      h1 Welcome, Director
    section.stats
      #user-stat.stat-box
        h3 Users
        p 120
      #user-stat.stat-box
        h3 Sales
        p $5,000
      #user-stat.stat-box
        h3 Orders
        p 34
      #user-stat.stat-box
        h3 Users
        p Loading...
footer
  p &copy; Manager Dashboard
script(src='js/admindash.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js' integrity='sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==' crossorigin='anonymous' referrerpolicy='no-referrer')
