doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Credit Sales Entry
    link(rel='stylesheet' href='/css/credit.css')
  body
    .container
      button#recordCreditBtn(type='button') Record Credit Sale
      h1 Credit Records

      // Modal Overlay Form
      .modal#creditModal
        .modal-content
          form#creditForm
            input#buyerName(type='text' name='buyerName' placeholder='Buyer Name' required)
            input#nationalId(type='text' name='nationalId' placeholder='Ntional ID Number' required)
            input#location(type='text' name='location' required placeholder='Location')
            input#contact(type='text' name='contact' placeholder='Contact' required)
            input#amountDue(type='number' name='amountDue' placeholder='Amount Due' required)
            input#saleAgent(type='text' name='saleAgent' placeholder='Sale Agent' required)
            input#dueDate(type='date' name='dueDate' required placeholder='Due Date')
            input#produceName(type='text' name='produceName' placeholder='Produce Name' required)
            input#branch(type='text' name='branch' placeholder='branch' required)
            input#tonnage(type='text' name='tonnage' placeholder='Tonnage' required)
            input#dispatchDate(type='date' name='dispatchDate' placeholder='Dispatch Date' required)
            .button-row
              button(type='submit') Submit
              button(type='button' onclick='closeCreditForm()') Cancel
            p#creditErrorMsg.error

      .creditTable
        table#creditTable
          thead
            tr
              th Buyers Name
              th National ID
              th Location 
              th Contact
              th Amount Due
              th Sale Agent
              th Due Date
              th Produce Name
              th Branch
              th Tonnage 
              th Dispatch Date
              th Actions
          tbody

      br
      br
      button(type='button' onclick='goBack()') Back

    script(src='/js/credit.js')
