doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Sales Dashboard
    link(rel='stylesheet', href='/css/sales.css')
  body
    .container
      h1 Sales Records
      button#recordSaleBtn Record Sale

      table#salesTable
        thead
          tr
            th Produce Name
            th Tonnage (kg)
            th Amount Paid
            th Buyer's Name
            th Date & Time
            th Agent Name
            th Branch
            th Actions
        tbody

      br
      button(onclick='goBack()') Back

    #saleFormModal.modal
      .modal-content
        h2 Record Sale
        form#saleForm
          input(type='hidden', id='editingId')
          
          div.form-group
            label(for='produceName') Produce Name*
            input#produceName(type='text', name='produceName', required)
            div#stockInfo.stock-info

          div.form-group
            label(for='branch') Branch*
            select#branch(name='branch', required)
              option(value='') -- Select Branch --
              option(value='Matugga') Matugga
              option(value='Maganjo') Maganjo

          div.form-group
            label(for='tonnage') Tonnage (kg)*
            input#tonnage(type='number', name='tonnage', required, min='0', step='0.01')
            div#tonnageError.error-message Invalid tonnage amount

          div.form-group
            label(for='amountPaid') Amount Paid (UGX)*
            input#amountPaid(type='number', name='amountPaid', required, min='0')
            div#amountError.error-message Invalid amount

          div.form-group
            label(for='buyerName') Buyer's Name*
            input#buyerName(type='text', name='buyerName', required)

          div.form-group
            label(for='agentName') Agent Name*
            input#agentName(type='text', name='agentName', required)

          div.form-actions
            button(type='submit') Save
            button#cancelBtn(type='button') Cancel

    script(src='/js/sales.js')
